html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body {
    padding-top: 80px;
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    }
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(19px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
a {
    transition: 0.4s;
    text-decoration: none;
    color: #ffffff
    
}
a:hover{ color: #ff4500;
transition: 0.4s;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    padding: 0 40px;
}
button {
    transition: 0.4s;
    border: none;
    background-color: #ff4500;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff
}
button:hover{
    background-color: #ff6128;
    transition: 0.4s;
}
@keyframes floating{
    0% {transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}
.hero-image {
    max-width: 100%;
    height: auto;
    animation: floating 3s ease-in-out infinite;
}
.menu h3 {
    font-size: 80px;
    text-align: center;
    margin: 50px 0;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 40px;
}
.product-card {
    background-color:#252525;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transform: 0.3s;
}
.product-card img {
    max-width:100%;
    height:512px;
}
.product-card:hover {
    transition: translateY(-10px);
    background-color:#333333 ;
}
@keyframes bounceEffect{
    0% {transform: scale(1);}
    30% {transform: scale(1.3);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}
.bounce {
    display: inline-block;
    animation: bounceEffect 0.4s ease-in-out;
}
.modal-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.75);
    backdrop-filter:blur(8px);
    z-index: 2000;

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    pointer-events: none;
    transition: 0.4s ease-in-out;
}
.modal-overlay.active{
    opacity:1;
    pointer-events: all;
}
.modal-window{
    background-color: #252525;
    border: 1px solid #333333;
    padding: 40px;
    border-radius: 20px; 
    width: 90%;
    max-width: 500px;
    position: relative; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    text-align: center;
    max-height: 90vh;
    overflow-y:auto ;
}
.close-btn {
    position: absolute; 
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: #888888;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
}
.checkout-btn {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s;
}
.checkout-btn:hover {
    background-color: #ff6128;
}
.quantity-btn{
    width:28px !important ;
    height: 28px !important;
    min-width: 28px !important; /* Защита от сжатия */
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
}
.total-box{
     display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid #333;
    padding-top: 15px;
}
.cart-items img{
        width: 200px!important;
        height: 200px!important;
        object-fit: cover!important;
        border-radius: 10px!important;
}
.cart-items{
    max-height:450px;
    overflow: auto;
    padding-right: 5px;
}
.cart-items::-webkit-scrollbar{
    width: 6px;
}
.cart-items::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius:10px ;
}
@media(max-width: 1000px){
    body{
        padding-top: 70px ;
    }
    header{
        padding: 15px 20px;
    }
    header h1{
        font-size:40px;
    }
    header h3{
        font-size: 30px;
        padding-right: 10px;
    }
    ul{
        gap: 15px;
    }

    .hero{
        flex-direction: column-reverse;
        text-align:center;
        justify-content: center;
        gap: 30px;
        min-height:auto;
        padding: 40px 20px;
    }
    .hero h2{
        font-size: 35px;
    }
    .hero p{
        font-size: 25px;
        padding-bottom: 10px;
    }
    .hero button{
        font-size: 20px;
        height: 75px;
        width: 300px;
    }
    .menu h3{
        font-size: 60px;
        margin:  30px 0;
        padding: 50px;
    }
    .menu-grid{
        padding: 0 10px;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    .product-card img{
        max-height:400px;
        width: 100%;
        object-fit: contain;
        border-radius: 10%;
    } 
    .product-card h4{
        font-size: 24px;
        margin:10px 0 5px 0;
    }
    .price{
        font-size: 22px;
        font-weight: bold;
        margin: 5px 0 15px 0;
    }
    .add-to-cart-btn{
        width: 80%;
        padding: 20px;
    }
    .modal-window{
        width: 80%;
        max-width: none;      
        padding: 25px;        
        max-height: 90vh;
        overflow-y: auto;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .modal-window h3{
        font-size: 55px;
    }
    .cart-items{
        font-size: 30px;
    }
    .itogo{
        font-size:40px;
    }
    .itogo2{
        font-size: 40px;
    }
    .checkout-btn{
        font-size: 35px;
        padding:  30px 20px;
        border-radius:  40px;
    }
    .cart-items img{
        width: 200px!important;
        height: 200px!important;
        object-fit: cover!important;
        border-radius: 10px!important;
    }
    .cart-items h4{
        font-size:30px!important;
        font-weight: 600!important;
        margin: 10px;
    }
    .cart-items p{
        font-size: 30px;
    }
    .cart-items .quantity-btn{
        width: 45px!important;
        height: 45px!important;
        font-size: 30px!important;
        border-radius:50%!important;
        padding-inline: 10px;
    }
    .cart-items span{
        font-size: 30px!important;
        font-weight: bold!important;
        min-width: 24px!important;
        text-align: center!important;
    }
    .cart-items{
        padding:  15px 20px;
        margin-bottom: 12px;
        border-radius: 14px;
        max-height: 50vh;
    }
    #suggest-address{
        font-size: 25px!important;
        padding: 20px!important;
        border-radius: 12px!important;
        height: auto!important;
    }
    #modal-step-2 label{
        font-size: 22px!important;
        margin-bottom:12px !important;
        display: block!important;
    }
    #map{
        width: 100%!important;
        height: 320px!important;
        border-radius:14px !important;
        margin-bottom:25px !important;
    }
    #final-order-btn{
        font-size: 22px!important;
        padding: 16px 0!important;
        border-radius:14px !important;
        margin-top: 10px!important;
    }
    #back-to-step-1{
        font-size: 18px!important;
        padding: 15px 0!important;
        margin-top: 15px!important;
    }
}